<div class="container mt-5 pt-5 border-dark w-100">
    <div class="row">
        <div class="col-3">
            <p class="ms-4"><b>UPBOX</b></p>
        </div>
        <div class="col-4"></div>
        <div class="col-5 text-end bold black"><i class="fa-brands fa-instagram me-4"></i><i class="fa-brands fa-facebook ms-4 me-4"></i> <i class="fa-brands fa-twitter-square ms-4 me-4"></i> <i class="fa-solid fa-bell ms-4 me-4"></i> </div>
    </div>
    <div class="row">
        <div class="col-3">
            <ul style="list-style-type: none;">
                <li><b>UPBOX</b></li>
                <li>Upbox Bag</li>
                <li>Upbox Box Platinum</li>
                <li>Upbox Box VIP</li>
                <li>Deals</li>
                <li>Seasonal Items</li>
                <li>Upbox Promise</li>
            </ul>
        </div>
        <div class="col-3">
            <ul style="list-style-type: none;">
                <li><b>Find Us On</b></li>
                <li>Instagram</li>
                <li>Facebook</li>
                <li>TikTok</li>
                <li>SnapChat</li>
                <li>Twitter</li>
            </ul>
        </div>
        <div class="col-3">
            <ul style="list-style-type: none;">
                <li><b>Product</b></li>
                <li>Get the App</li>
                <li>Loyalty Program</li>
                <li>Affiliates</li>
                <li>Press</li>
            </ul>
        </div>
        <div class="col-3">
            <ul style="list-style-type: none;">
                <li><b>Help</b></li>
                <li>Returns</li>
                <li>FAQ</li>
                <li>Contact</li>
                <li>Community</li>
                <li>Videos</li>
            </ul>
        </div>
    </div>
    <hr>
    <div class="row text-center">
        <div class="col">
            <p>© 2020 Quest AI. Upbox is a Sample Project and open source design project free for personal and commercial use.</p>
        </div>
    </div>
</div>