<div class="container border mt-3 p-5">
    <div class="row">
        <div class="col-6">
            <p id="text1">Look good without leaving your house.</p>
            <p id="text2">Upbox is the easiest way to look your best without having to hunt for the perfect makeup combination. Our stylists curate the latest trends and send them directly to your door every month.</p>
            <a href="" id="signup" >Signup ></a>
        </div>
        <div class="col-6">
            <img src="../../assets/pic1.png" alt="not displayed" width="100%">
        </div>
    </div>
</div>