<div class="container w-100 border p-2">
    <div class="text-center"><p id="text1">Social Posts</p></div>
    <div class="row row-cols-4">
        <div class="col">
             <img src="https://s3-alpha-sig.figma.com/img/75ac/3ad7/772cc803159a719ecd7a5ccfdb091245?Expires=1653868800&Signature=c~jdh3nDFiTbF~NrJDebndKNSucpq9toIunHp3dtS77TnfLnh8L45gXfpqTX5hCDCOf2nVx79jU9rxxe3pSF~0oMTp~pUu7K5KrxF1LmxItTLjFMSKxMT4e6wnlBsd9zUwyt4awOKgSHQFiyGxU3mwVq9kOAMfrz8yE1QF8ioXfdh1pW8-0zgFb9kGV2N~iStYBClRu~rDx0tktEWDljvTdClJJNfjzP5F8xTWyqvo-u~GX5lvC7XQzoKyEWGmMv0lphkj5HGhkujpYw5obMgRXKLS-SXfNHXsyF7a9Pae3Zs4-M8e~6j5sT0PCfGOADRd~PfHlx7mpsSPPkA~nH1A__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA" alt="">
             <p>How to rock the lip look that turns heads</p>
        </div>
        <div class="col">
            <img src="https://s3-alpha-sig.figma.com/img/d20b/918e/619726f782e8fb8468519ba861ffab76?Expires=1653868800&Signature=QATYYjY53Ei73a1VG34MhjB0MSP1JpqqhkeypxeW9UFNbO2JFweLrDjxFsGFuUnz8sn47vXeTT8z1ewFQXfe2DWKqrAu~2TprUEWe-NHmFTHl0F6~fXqvKlD0ATApIov-hJQiH1lQ5avQWF8VExf2SOmZpLlMcfEWVcIJyThV9LHezbC4Q807oTBONTqPeFLX7Pcgpw1cJ3LkD9X9mJtsCnbaivERgaqDQFeAo-dDf4RWoa2G7cXUYq7KMInGpLRk-Mk~~vQLI-PBIVsoaB5N3~tndPFa1Cp6BaMkoHwg0JpiHVQDmtIe-qFdpFr7jCiaGTJ~7VTs9f1vHXDQMoDyA__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA"  alt="">
            <p>Find the perfect shade for the season</p>
       </div>
        <div class="col">
            <img src="https://s3-alpha-sig.figma.com/img/a024/a33a/45659ada60f2c7f1f457bc2ca383564c?Expires=1653868800&Signature=B43ctFyPF-27kPFJmaI48JBAfyWrjq6BRaBvIKlxBgaeSfRC0BF33s1omZ6tDcrJLeD9T1hSkd0Jew52MjmuIPYu-YiMk6YOulockLnIqHxIHsSLDXWgWjOzMz38Ac1SxOPmjJmoWR8WltrJwvfDk7yiKAf75prqHtVF5rKKtu5XdyaBHX8JDUO~oTKSfmBXx4VktJSt93akW4LvysUOpWsPnX7pV~862McUWfD0PZkz7iU30b6lhRZbdBXrwDjwLqJDKNAA-2lUXbwvjeQAqZZUXNjHiRNdpfbMGtfAoU8chk-LmJXVw0Gubbq~hDVo8zvvy6rG9mVey65dg80PDQ__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA" alt="">
            <p>The 5 eye shadow secrets you never knew</p>
        </div>
        <div class="col ">
            <img src="https://s3-alpha-sig.figma.com/img/a633/741d/e6436bf5f7913ca0976754c5b762f320?Expires=1653868800&Signature=UqyyvtQyEejbr5mNKGtziP7Q0je3augIq8IeDoUixQAbU-fMkVZgGcp8x0~Ylrzh0DIbfwuKGk0ojcdRQOf84fOl-6UZOEOTWjJNqeFdOwtBwSGA~lu8p~yzFYQy6o~mTGqcmpXBHsk6AtaWwtgCExp9kDKxoCV4hpXpd18uiF2w62gsone6Vx92YICxYyQBws3myVJE9O4nRJIWCpbA3KaeNymjffD~TG01OZYukr2H6WeJZFoOUDZrzEXvQhMNdUW3RbeCga9-Al7LJxNdOGACO7KaujwD5LMDZEnoZkubGYc6Ibo1uqOzP-aDKjUHK6hF5gQDJqwbonlmSWC0JA__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA" alt="">
            <p>The pro-tips for at home hair dying</p>
        </div>
    </div>
    <div class="text-center">
        <button>FOLLOW US ON INSTAGRAM</button>
    </div>
</div>