<div id="topbar"></div>
<div class="container  text-center mt-5">
    <div class="row">
        <div class="col-2">
            <span id="vector1"></span>
            <span id="Rectange1"></span>
            <span id="B"><b>U</b></span>
            <span id="U"><b>B</b></span>
            <span class=""> UPBOX</span>
        </div>
        <div class="col-10">
            <a href="">THIS MONTH</a>
            <a href="">SKIN</a>
            <a href="">HAIR</a>
            <a href="">BATH</a>
            <a href="">SALE</a>
            <a href="" id="login">Login></a>
        </div>
    </div>
</div>