<div class="container border mt-3 w-100 mx-auto">
    <p class="pr">Pick your plan</p>
    <div class="row text-center">
        <div class="col-1"></div>
        <div class="col-4 border p-1 bg-secondary">
            <p class="text">Monthly</p>
            <p class="texted">$18/mo</p>
            <button>FIND YOUR BOX</button>
        </div>
        <div class="col-2"></div>
        <div class="col-4 border p-1 bg-secondary">
            <p class="text">Yearly</p>
            <p class="texted">$15/mo</p>
            <button>FIND YOUR BOX</button>
        </div>
        <div class="col-1"></div>
    </div>
    <p class="p4">Your plan auto-renews at the end of 30 days from the 1st day you signed-up.</p>
</div>