<div class="container border mt-2 mb-3 p-3">
    <p class="heading">How it works?</p>
    <span class="underline"></span>
    <div class="row">
        <div class="col-2">
            <p class="one">1</p>
        </div>
        <div class="col-4">
            <img src="https://s3-alpha-sig.figma.com/img/6dd8/577a/82ef920c2721e1818e1d4286e9c6c6b8?Expires=1653868800&Signature=UNf9O1MoEQYqHRh5zIMbQGtpD93QYp~qYPcqN0J85RbEEy8KGIn~wdZ8-Dz8n8YedUctZwgZwxZqp98PY72o9wh48mU23Dqt7SEAwJ8GkALz05J334pJden3tYyQiJKLQfYgmyk8eu1J2PnL~7uJnqYHWC5v8zSb78N7RiYhXRIOUDykUoy3A-PqzIaULt1MaTtOIJ207JjuDAjJRU-Ssy3zEmQtfZ1LIkniMbZO255VWYFYiTm~4K7FZpz-gdyInFtZm0bz9b4IUSq4RpILG57oI1WEGTSD1PxSixzWp4z7RYeE1YV4GGNu6B4uldgIdJGyaG5AojSMY8e2dNjupg__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA" alt="">
        </div>
        <div class="col-6">
            <p class="text1">Setup your profile &
                preferences</p>
            <p class="text2">Once you create an account, you can start to tell us your likes and dislikes so we can tailor the experience just for you.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <p class="text1">Review your 
                custom box</p>
            <p class="text2">Once we get to know you, we will show you the box we've crafted. This is your chance to approve it before we ship it to your house.</p>
        </div>
        <div class="col-2">
            <p class="one">2</p>
        </div>
        <div class="col-4">
            <img src="https://s3-alpha-sig.figma.com/img/160b/a644/494e0184d80938e9b3fa50972bffdd89?Expires=1653868800&Signature=S002-9UXx5mEt4WRX7T0b3p2CoUmiBA6eNhWwvJl8Qoplw~Wc6eeGHsNq7z7IOHmoXmUkazHG-il6l4itpk~7UIPMCV67HkI7UgqpZy72b0ae0Eelw40hBoQNdnR4EBFAu7yeQSiHt3UIha~vMFwfzRTFVbLgW7NrCicGSkxj~zpTzqVn1RdiTnoQrVvNwpstlNN-DbzaaK0v6kE3WxhFUclcQDN8hwiXepsZHTtEQt5WUqflXNGqsJEqIxg6OnqK4NTJK7ts-4oxiDre1lE8hl0Q089kwjnYI3EDY36lFOiEYhAcCVOnM~wYAzBuq9Nf2KdOKSlsJom0Tw9PJ6Cjg__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA" alt="">
        </div>
    </div>

    <div class="row">
        <div class="col-2">
            <p class="one">3</p>
        </div>
        <div class="col-4">
            <img src="https://s3-alpha-sig.figma.com/img/c799/30da/c8cb85b0baafa8015f9031650049feb7?Expires=1653868800&Signature=Ze3c1tQ3HJmLgHj6aoLe4PO9QQaFIwhM9Yg7zyO7BeRGRnhwaahRIxIsEldIh-Rp17l~d61tI2tWzVI2MKVfaCiZ7M7OCH0vzaRJdiiDcIBkwRew5tEw4e76yXwLu0vRh3I6v9WB4TEuPGhmOZ-DIWQOK4KPXVnJ0jJjSajDvGLAvUOsZe0DBgwEPcTXwzpA9joWjLNDqR7qxNbJC3C9qDPeEjo9EtEF9lh77JQS0hALSzacr9LVNys6CHvDWxEo5rXXs1s4-ERDGLucunr3sGq3CVW815ecNKiFt5PqSpHgODc-91SOargHtT6~WZPnnvd5m2ELD9LglbyQa-ZQrw__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA" alt="">
        </div>
        <div class="col-5">
            <p class="text1">Try it on at home</p>
            <p class="text2">Your box will arrive within 3-5 days (usually sooner) and you get the joy to unbox your Upbox. Try it all on and send back whatever you’re not in love with.</p>
        </div>
    </div>
    <div class="text-center">
        <button class="bton">TRY IT FOR YOURSELF ></button>
    </div>
</div>